:root{
    --color-1: #F2EA7E;
    --color-2: #D9D0C5;
    --color-3: #8C2020;
    --color-4: #732C2C;
    --color-5: #0D0D0D;
    --color-6: #ff0000;
    --color-7: #e8dfd3;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-2);
  }

  .close{
    cursor: pointer;
  }

  .foto-perfil-cliente .img-perfil-cliente {
    border: 2px solid var(--color-2);
    border-radius: 100%;
    width: 200px;
    height: 200px;
  }
  .shop-profile button{
    margin-bottom: 5px;
    font-weight: bold;
    padding: 3px;
    color: var(--color-2);
    background-color: var(--color-3);
    border-radius: 5px;
    border: 1px solid var(--color-3);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }
  .shop-profile button:active{
    color: var(--color-3);
    background-color: var(--color-2);
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }

  .btn-agendar{
    font-weight: bold;
    width: 10%;
    padding: 3px;
    color: var(--color-2);
    background-color: var(--color-3);
    border-radius: 5px;
    border: 1px solid var(--color-3);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }

  .btn-agendar:active{
    color: var(--color-3);
    background-color: var(--color-2);
  }

  .btn-aditar{
    width: 40%;
    font-weight: bold;
    padding: 3px;
    color: var(--color-2);
    background-color: var(--color-3);
    border-radius: 5px;
    border: 1px solid var(--color-3);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }
  .btn-aditar:active{
    color: var(--color-3);
    background-color: var(--color-2);
  }

  /******* fim da estilização geral********/

   /******* header e nav bar********/

header{
   display: flex;
   flex-direction: column;
   align-items: center;
   background: var(--color-4);
   }

   header img{
    margin-top: 5px;
        width: 100px;
   }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    height: 15vh;
    width: 100%;
}

.nav-list{
    list-style: none;
    text-decoration: none;
    display: flex;
}

.nav-list li{
    margin-left: 10px;
}


.nav-list a{
    color: var(--color-5);
    background-color: var(--color-2);
    text-decoration: none;
    transition: 0.5s;
    padding: 12px;
    border-radius: 10px;
}

.nav-list a:hover{
    background-color: var(--color-5);
    padding: 15px;
    color: var(--color-2);
    border-radius: 10px;
}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px var(--color-2);
    border-radius:10px;
    width:350px;
    height:32px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width: 190px;
    outline: none;
}
  
#btnBusca{
    border:none;
    float:right;
    height:100%;
    border-radius:0 7px 7px 0;
    width:30%;
    font-weight:bold;
    background: var(--color-2);
    cursor: pointer;
}

#btnbusca button:hover{
    background-color: var(--color-5);
}
  
  /******* fim da nav bar********/

  /******* Carrosel ********/

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-slider{
    display: flex;
    width: 90%;
    align-items: top;
    justify-content: center;
    margin-top: 10px;
  }
  
  .container-images{
    position: relative;
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0px 0px 7px var(--color-dark5);
    height: 30vw;
  }
  
  
  .slider{
    opacity: 0;
    transition: opacity .2s;
    height: 330px;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
  
  .on{
    opacity: 1;
  }
  
  #prev-button, #next-button{
    width: 50px;
    height: 30px;
    border: none;
    color: var(--color-white);
    background-color: transparent;
    cursor: pointer;
  }

  .img-seta{
    color: var(--color-yellow);
    background-color: transparent;
    padding-top: 200px;
    padding-bottom: 180px;
    width: 100%;
    height: 100%;
  
  }


  /******* fim do carrossel********/

#maps{
    display: flex;
    margin: 20px;
    width: 60%;
    height: 60vh;
    border: 1px solid black;
    box-shadow: 0 0 2px;
    float: right;
    border-radius: 5px;
}

#maps img{
    width: 100%;
}

/* soobre nos/propaganda*/

.slider2{
    margin: 20px;
    width: 30%;
    height: 60vh;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.point{
    width: 25%;
    position: relative;
}

.slides img{
    width: 100%;
    height: 100%;
    
}

.slides input{
    display: none;
}

.manual-navigation{
    position: absolute;
    width: 10%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-left: 110px;
}

.manual-btn{
    border: 2px solid var(--color-6);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:hover{
    background-color: var(--color-6);
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .first{
    margin-left: 0px;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{ 
    border: 2px solid var(--color-6); 
    padding: 5px; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: 0,5s; 
} 

.navigation-auto{
    width: 10%;
    margin-left: 110px;
    margin-top: 306px;
    position: absolute; 
    display: flex; 
    justify-content: center; 
}

.navigation-auto div:not(:Last-child){ 
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--color-6);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--color-6);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--color-6);
}




/* fim sobre nos/propaganda*/

#caixas{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


.cont{
    background: url(img/perfil2.jpeg) no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 20%;
    height: 50vh;
    border: 1px solid black;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.cont p{
    margin-top: 55%;
}


footer{
    background-color: var(--color-4);
    box-shadow: 0px 0px 4px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px 0 20px 0;
   }

   #footer-logo{
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
   }



   /***** tela de perfil de barbearia ******/


   .container {
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-7);
  }

  .shop-profile {
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
  }

  .shop-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .shop-profile h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .shop-profile p {
    font-size: 16px;
    color: #666;
  }

  .shop-bio {
    background-color: #eedcdccf;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 1px;
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shop-bio p {
    font-size: 16px;
    line-height: 1.5;
  }

  .shop-details {
    margin-bottom: 20px;
  }

  .shop-details p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .shop-photos {
    text-align: center;
    margin-top: 10px;
    width: 60%;
    height: 400px;
  }

  .shop-photos img {
    width: 60%;
    height: 300px;
    border: none;
    margin-right: 10px;
  }
  .shop-photos button{
    margin-bottom: 5px;
    font-weight: bold;
    padding: 3px;
    color: var(--color-2);
    background-color: var(--color-3);
    border-radius: 5px;
    border: 1px solid var(--color-3);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }
  .shop-photos button:active{
    color: var(--color-3);
    background-color: var(--color-2);
  }
  
